<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">


    <h:head>
        <title>#{msgs.pageTitle}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h1>#{msgs.pageTitle}</h1>
        <h:form id="encryptForm" >
            <h:panelGrid columns="2" cellpadding="1" border="0" cellspacing="10">
                <h:outputLabel for="word" value="#{msgs.word}"/>
                <h:inputText id="word" value="#{encryptBean.word}" style="display:block;width:800px"/>

                <h:outputLabel for="crypt" value="#{msgs.crypt}"/>
                <h:inputText id="crypt" value="#{encryptBean.encrypt}" style="display:block;width:800px"/>

                <h:outputLabel for="salt" value="#{msgs.salt}"/>
                <h:inputText id="salt" value="#{encryptBean.salt}" style="display:block;width:800px"/>

                <h:outputLabel for="hash" value="#{msgs.hash}"/>
                <h:inputText id="hash" value="#{encryptBean.hashAndSalt}" style="display:block;width:800px"/>
            </h:panelGrid>
            <h:commandButton id="encrypt" value="#{msgs.encrypt}"
                             action="#{passwordUtil.doPassword()}" />

        </h:form>

    </h:body>
</html>

